<!DOCTYPE html>
<html>
    <title>display</title>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h1>Student Today's Attendance</h1>
                    <form method="POST" class="register-form" id="register-form" action="/display.html">
                        <div class="form-holder">
                            <span class="">year</span>
                            <select id="year" name="year" placeholder="Year" style="margin-left: 50px">
                                <option value="none" selected disabled hidden>
                                    Select your Academic Year
                                </option>
                                <option value="FE">FE</option>
                                <option value="SE">SE</option>
                                <option value="TE">TE</option>
                                <option value="BE">BE</option>
                            </select>
                        </div>
                        <br />
                        <div class="form-holder">
                            <span class="">Branch</span>
                            <select id="branch" name="branch" placeholder="Branch" style="margin-left: 50px">
                                <option value="none" selected disabled hidden>
                                    Select your Academic Branch
                                </option>
                                <option value="comp">Computer Engineering</option>
                                <option value="it">Information Technology</option>
                                <option value="entc">Electronics and Telecommunication</option>
                            </select>
                        </div>
                        <br />
                        <div class="form-holder">
                            <span class="">Subject</span>
                            <select id="subject" name="subject" placeholder="Branch" style="margin-left: 50px">
                                <option value="none" selected disabled hidden>
                                    Select the Subject
                                </option>
                                {% for sub in sub_list %}
                                <option value={{sub}}>{{sub}}</option>
                                {% endfor %}
    
                            </select>
                        </div>
    
                        <br />
    
                        <button>
                            <span>View Attendance</span>
                        </button>
    
                        <a href="/" class="signup-image-link">Cancel</a>
                    </form>
    
                    <br />
    
                    {% if regi|length ==0 %}
                    <p> Select Year, Branch and Subject to view Attendance</p>
                    {% else %}
                    <table class="table">
    
                        <tbody>
                            
                            <thead>
                                <tr>
                                    <th>Sr. NO.</th>
                                    <th>IRN</th>
                                    <th>Name</th>
                                    <th>Status</th>
    
                                </tr>
                            </thead>
                            {% for data in range(0,regi|length) %}
    
                            <tr>
                                <td>{{data+1}}</td>
                                <td>{{regi[data][1]}}</td>
                                <td>{{regi[data][2]}}</td>
                                <td>{{regi[data][8]}}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
    
                    </table>
                    <p>Total Count : {{regi|length}}</p><br>
                    {% endif %}
    
                    <!-- Pager -->
    
                </div>
            </div>
        </div>
    
            
    </body>
</html>