<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" href="{{url_for('static',filename = 'img/favicon.png')}}" type="image/png" />
  <title>Q-R Based Attendence Systm</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/bootstrap.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/flaticon.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/themify-icons.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename = 'vendors/owl-carousel/owl.carousel.min.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',filename = 'vendors/nice-select/css/nice-select.css')}}" />
  <!-- main css -->
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/style.css')}}" />
</head>

<body>
  <!--================ Start Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <div class="search_input" id="search_input_box">
        <div class="container">
          <form class="d-flex justify-content-between" method="" action="">
            <input type="text" class="form-control" id="search_input" placeholder="Search Here" />
            <button type="submit" class="btn"></button>
            <span class="ti-close" id="close_search" title="Close Search"></span>
          </form>
        </div>
      </div>

      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/"><img
              src="{{url_for('static',filename = 'img/I²IT_With_name Final updated LOGO.png')}}" alt="i2it" width="150px" /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Sign Up</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/register.html">Teacher</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sregister.html">Student</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/pregister.html">Parent</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Sign In</a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="/login.html">Teacher</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/slogin.html">Student</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/plogin.html">Parent</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================ End Header Menu Area =================-->

  <!--================ Start Home Banner Area =================-->
  <section class="home_banner_area">
    <div class="banner_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner_content text-center">
              <h2 class="text-uppercase">
                Attendance Guru
              </h2>
              <p class="">
                QR code based automated attendance system
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Home Banner Area =================-->

  <!--================ Start Feature Area =================-->
  <section class="feature_area">
    <div class="container-flex">
      <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <h2 class="mb-3 text-center">Awesome Features of ATTENDANCE GURU App</h2>
            <p>
              <ul style="font-size: larger; line-height: 2.5rem;">
                <li>A simple web app for students, teachers and parents to operate, organize and monitor the attendance.</li>
                <li>Proxy proof due to time + student's unique id binded QR code. (i.e., for e.g. a certain QR code is valid for only 35 min.)</li>
                <li>Unique QR code for every student for every lecture; sent to respective students via e-mail.</li>
                <li>In-built QR code scanner in teacher dashboard for close monitoring of attendance marking procedure.</li>
                <li>Facility to organize and maintain the attendance data in teacher's module.</li>
              </ul>
            </p>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Feature Area =================-->



  <!--================ Start Trainers Area =================-->
  <section class="trainer_area">
    <div class="container-flex">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h2 class="mb-3 text-center">Solves the following problems</h2>
          <ul style="font-size: larger; line-height: 2.5rem;">
            <li>Malpractises by students which generates untruthful attendance data which is unfair.</li>
            <li>Attendance marking manually is tedious & long process (sometimes feels like infinity) for teachers & students.            </li>
            <li>As mentioned above it takes significant chunk of time from the allotted time for the lecture moreover with tampered data.</li>
            <li>Data collection, organization, report generation is exhausting process and is prone to cause errors.</li>
            <li>As this whole process involves multiple parties and the subprocesses work independently there is lack of synchronization and seamless flow of data.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Trainers Area =================-->





  <!--================ Start footer Area  =================-->
  <footer class="footer-area py-4">
    <div class="container">
      <div class="row footer-bottom d-flex justify-content-between">
        <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">

          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> <a href="/"
            target="_blank">Yash Jane</a> | All Rights Reserved.

        </p>
        <div class="col-lg-4 col-sm-12 footer-social">
          <a href="https://www.facebook.com/yash.jane.169/" target="_blank"><i class="ti-facebook"></i></a>
          <a href="https://www.github.com/yjane99" target="_blank"><i class="ti-github"></i></a>
          <a href="https://www.linkedin.com/in/yjane" target="_blank"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{url_for('static',filename = 'js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/popper.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendors/nice-select/js/jquery.nice-select.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'vendors/owl-carousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/owl-carousel-thumb.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/jquery.ajaxchimp.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/mail-script.js')}}"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="{{url_for('static',filename = 'js/gmaps.min.js')}}"></script>
  <script src="{{url_for('static',filename = 'js/theme.js')}}"></script>
</body>

</html>