<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'fonts1/material-icon/css/material-design-iconic-font.min.css')}}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css1/style.css')}}">
</head>
<body>

    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{url_for('static',filename = 'images1/signin-image.jpg')}}" alt="sing up image"></figure>
                        
                        <a href="/" class="signup-image-link">Cancel</a>
                    </div>

                    <div class="signin-form">

                        <h2 class="form-title">Sign In</h2>
                        <main>
                            {% with messages=get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category,message in messages %}
                            {% if category== 'success' %}
                            <div class="alert alert-success mb-3" role="alert">{{message}}</div>
                            {% endif %}
                            {% if category== 'error' %}
                           <div class="alert alert-danger mb-3" role="alert">{{message}}</div>
                           {% endif %}
                           {% endfor %}
                           {% endif %}
                           {% endwith %}
                       </main>
                        <form method="POST" class="login-form" id="login-form" action="/login.html">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="email" id="email" placeholder="Enter mail Id" required="" />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="Password" required="" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{{url_for('static',filename = 'vendor1/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename = 'js1/main.js')}}"></script>
</body>