<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename = 'images3/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'vendor3/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'fonts3/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'fonts3/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'vendor3/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'vendor3/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'vendor3/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'vendor3/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'vendor3/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css3/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'css3/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url({{url_for('static',filename = 'images3/bg-01.jpg')}});">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>
				<div class="msg">{{ msg }}</div>
				 <form method="POST" class="login-form" id="login-form" action="/slogin.html">
					
				<form class="login100-form validate-form">

					<div class="wrap-input100 validate-input m-b-26" data-validate="Sid is required">
						<span class="label-input100">Student Id</span>
						<input class="input100" type="text" name="Sid" id = "Sid" placeholder="Enter Student Id" required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="email" id = "email" placeholder="Enter username" required="">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" id = "password" placeholder="Enter password" required="">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">

						<button class="login100-form-btn">
							Login
						</button>
					</div>
					<a href="/sregister.html" class="signup-image-link">Create an account</a><br>
					<a href="/" class="signup-image-link">Go Back</a>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'vendor3/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'vendor3/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'vendor3/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static',filename = 'vendor3/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'vendor3/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'vendor3/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static',filename = 'vendor3/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'vendor3/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename = 'js3/main.js')}}"></script>

</body>
</html>